<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<h3>Appointments</h3>
<% @doctor.appointments.each do |appointment| %>
    <p><%= appointment.readable_time %> - <%= link_to appointment.patient.name, patient_path(appointment.patient) %></p>
<% end %>